///////////////////////
// Breakpoints
$screen-sm-min: 576; // Small tablets and large smartphones (landscape view)
$screen-md-min: 768; // Small tablets (portrait view)
$screen-lg-min: 992; // Tablets and small desktops
$screen-xl-min: 1200; // Large tablets and desktops